<% provide(:title, "开发团队") %>

<h1 style="font-size:30px">开发团队</h1>

<p>
<div style="padding:5px 10px;">
<tr>
    <th><strong>组长：</strong></th>
<td><p>时文康&nbsp&nbsp&nbsp&nbsp<a href="http://yjs.sict.ac.cn/">中国科学院沈阳计算技术研究所</a>&nbsp&nbsp&nbsp&nbsp<a href="tencent://message/?uin=1466921340ow&Menu=yes">立即联系</a></p></td>
</tr>
</div>

<div style="background:#f2f2f2;padding:5px 10px;margin-top:10px;">
<tr>
  <th><p><strong>组员：</strong></p></th>
  <td><p>龙宛青&nbsp&nbsp&nbsp&nbsp<a href="http://yjs.sict.ac.cn/">中国科学院沈阳计算技术研究所</a>&nbsp&nbsp&nbsp&nbsp<a href="tencent://message/?uin=2911662040ow&Menu=yes">立即联系</a></p></td>
</tr>
</div>

<div style="padding:5px 10px;margin-top:10px;">
<tr>
  <th><p><strong>组员：</strong></p></th>
  <td><p>林鲁俊&nbsp&nbsp&nbsp&nbsp<a href="http://yjs.sict.ac.cn/">中国科学院沈阳计算技术研究所</a>&nbsp&nbsp&nbsp&nbsp<a href="tencent://message/?uin=1171806332ow&Menu=yes">立即联系</a></p></td>
</tr>
</div>


<div style="background:#f2f2f2;padding:5px 10px;margin-top:10px;">
<tr>
<th><p><strong>组员：</strong></p></th>
<td><p>谢磷海&nbsp&nbsp&nbsp&nbsp<a href="https://sme.ucas.ac.cn/">中国科学院大学微电子学院</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="tencent://message/?uin=1171806332ow&Menu=yes">立即联系</a></p></td>
</tr>
</div>

<div style="padding:5px 10px;margin-top:10px;">
<tr>
  <th><p><strong>组员：</strong></p></th>
  <td><p>张洪阳&nbsp&nbsp&nbsp&nbsp<a href="http://aircas.ac.cn/">中国科学院空天信息创新研究院</a>&nbsp&nbsp&nbsp&nbsp<a href="tencent://message/?uin=1171806332ow&Menu=yes">立即联系</a></p></td>
</tr>
</div>


</p>
