<% provide(:title, "Help") %>
<!-- 更换头像新增代码show页面和help页面 -->
<h1>修改头像</h1>
<p>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://baike.baidu.com/item/Gravatar/10996811?fr=aladdin">Gravatar</a>是Globally Recognized Avatar的缩写,是gravatar推出的一项服务，意为“全球通用头像”。
  如果在Gravatar的服务器上放置了你自己的头像，那么在任何支持Gravatar的blog或者留言本上留言时，
  只要提供你与这个头像关联的email地址，就能够显示出你的Gravatar头像来。

  <br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp使用您在本网站注册账号时所使用的邮箱，
  在<a href="https://en.gravatar.com/">Gravatar官网</a>注册账号并登陆，即可在登陆后界面设置您在本网站所要展示的头像。
  <a href="https://en.gravatar.com/">立即设置</a>
</p>
